<footer id="contactos" class="seccion-oscura d-flex flex-column allign-items-center justify-content-center"> 
    <p class="footer-texto text-center">Contactame</p>
    <div class="iconos-redes-sociales d-flex flex-wrap allign-items-center justify-content-center">
       <a href={{miPorfolio.github}} target="_blank" rel="noopener noreferrer"></a>
       <i class="bi bi-github"></i>
       <a href={{miPorfolio.redsocial}} target="_blank" rel="noopener noreferrer"></a>
       <i class="bi bi-instagram"></i>
       <a href={{miPorfolio.discord}} target="_blank" rel="noopener noreferrer"></a>
       <i class="bi bi-discord"></i>
       <a href={{miPorfolio.mail}} target="_blank" rel="noopener noreferrer"></a>
       <i class="bi bi-envelope"></i>
    </div>
    <div class="derechos-de-autor">{{miPorfolio.derechos}} &#169;</div>
    <div class="boton-edicion">
      <i class="bi bi-pencil"></i>
    </div>
   </footer>
